@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif; 
}

::-webkit-scrollbar{
  width: 10px;
  background-color: #0f172a;
  border: none;
}
::-webkit-scrollbar-thumb{
  background-color: #cbd5e1;
  border-radius: 50px;
}